// Variables
// ------------------

$gray: #ccc;

// Mixins
// ------------------
@mixin border-radius ( $radius ) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}
@mixin box-sizing () {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body { overflow-y: scroll; background: #ebebeb; }
.table th, .table td { text-align: center; }

.calendar {
	background: #bbb;
	border-bottom: 1px solid #ccc;
	margin: {
		top: 15px;
		bottom: 50px;
	}

	.month {

		overflow: hidden;

		header {
			background: #08c;
			color: white;
			text-shadow: 1px 1px #000;
			padding: 5px 10px;
			border: {
				width: 1px 1px 0 1px;
				style: solid;
				color: $gray;
			}
			overflow: hidden;

			h1 {
				float: left;
			}
			nav {
				float: left;
				margin: {
					top: 15px;
					left: 30px;
				}
			}
		}

		.days-of-week {

			border: {
				width: 0 0 0 1px;
				style: solid;
				color: $gray;
			}

			div {
				width: 134px;
				padding: 10px;
				float:left;
				background: lightBlue;
				text-align: center;
				border: {
					width: 1px 1px 0 0;
					style: solid;
					color: $gray;
				}
				display: inline-block;
				font-weight: bold;
				@include box-sizing();
			}
		}

		.days {

			border: {
				width: 0 0 1px 1px;
				style: solid;
				color: $gray;
			}

			.day {
				width: 134px;
				height: 147px;
				padding: 10px;
				float:left;
				background: white;
				border: {
					width: 1px 1px 0 0;
					style: solid;
					color: $gray;
				}
				display: inline-block;
				@include box-sizing();

				.number {
					color: #555;
					font-weight: bold;
				}

				&.day-blank, &.day-blank .number {
					color: $gray;
				}

				&:not(.day-blank):hover {
					background: #f2f2f2
				}

				.appointment-wrapper {
					margin: {
						top: 5px;
					}
				}
			}

			.day.focused {
				background: #f2f2f2
			}
		}
	}

	.appointment {
		padding: 3px 5px 3px 10px;
		//@include border-radius(5px);

		.delete {
			cursor: pointer;
			padding: 0 5px;
			@include border-radius(3px);
			
			&:hover {
				background: white;
				color: #B94A48;
			}
		}
	}

}

.add-appointment {
	background: white;
	padding: 15px;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 979px) {
	.calendar .month .days-of-week div, .calendar .month .days .day { 
		width: 103px;
	}
}

@media ( min-width: 1200px ) {

	.calendar .month .days-of-week div, .calendar .month .days .day { 
		width: 167px;
	}

}